.card-image{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* .hoverable .card-content, */
.hoverable .card-image:active {
    height: 20%; 
    width: 40%;
    z-index: 2;
    /* text-align: center; */
    position: fixed;
    top: 20%;
    left:30%; 
    background-color: grey
}

.hoverable .card:active {
    background-color: grey
}

/* .hoverable .card-image .card-content:active {
    background-color: grey; 
} */

/* .hoverable .card-image:active {
    height: 75%; 
    width: 75%; 
    object-fit: fill;
} */

.overlay {
    background: #e9e9e9;        
    position: absolute;   
    display: none;
    top: 0;                
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}
