.card-image{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.hoverable .card-image:active {
    height: 50%; 
    width: 50%;
    z-index: 2;
    /* text-align: center; */
    position: fixed;
    top: 25%;
    left:25%; 
}

.card-content {
    display: none;
}

.card-content :active {
    display: inline;
}

/* .hoverable .card-image:active {
    height: 75%; 
    width: 75%; 
    object-fit: fill;
} */

.overlay {
    background: #e9e9e9;        
    position: absolute;   
    display: none;
    top: 0;                
    right: 0;              
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
}
